/* Colors

background: #E5E5E5;
accent: #2196F3; 
black font color: #212121;
white font color: #FFFFFF;
grey font color: #757575;
*/

:root {
  --main-blackcolor: #212121;
  --main-backgroundcolor: #e5e5e5;
  --second-white-background: #f5f4fa;
  --accent-background: #2f303a;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --white-fontcolor: #ffffff;
  --grey-fontcolor: #757575;
  --black-logo-color: #000000;
}

body {
  color: var(--main-blackcolor);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Site nav*/
.logo {
  color: var(--black-logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--main-blackcolor);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  color: var(--grey-fontcolor);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.contacts .link:hover,
.site-nav .link:focus,
.contacts .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  color: var(--white-fontcolor);
  background: var(--accent-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Section*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*Feature*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  font-weight: 400;
  line-height: 1.7;
  color: var(--grey-fontcolor);
}

/*Our team*/
/* .team .name {
    color: var(--main-blackcolor);
}  */
.section.team {
  background-color: var(--second-white-background);
}

.team .position {
  color: var(--grey-fontcolor);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Footer */
.footer {
  background-color: var(--accent-background);
  color: var(--white-fontcolor);
}

.footer > .logo {
  color: var(--white-fontcolor);
}

.list .address {
  color: rgba(255, 255, 255, 0.6);
}

.list .address:hover,
.list .address:focus {
  color: var(--accent-color);
}

/* Address */
address {
  line-height: 1.71;
  font-style: normal;
}

/* Button */
.button {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color-hover);
}

/* Portfolio */
.button-portfolio {
  color: var(--main-blackcolor);
  background-color: var(--second-white-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
}

.work-name {
  color: var(--main-blackcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-fontcolor);
}
